body
{
    background-color: black;
}
h1
{
    color: brown;
}
h2
{
    color: aquamarine;
}
h3
{
    color: blueviolet;
}
h4
{
    color: burlywood;
}
h5
{
    color: cadetblue;
}
h6
{
    color: blanchedalmond;
}
p
{
    color: coral;
}
